package testsetting

	import (
	{{.AppName | replaceString }} "{{ .ProjectName }}/{{.AppName }}"
	models "{{.ProjectName}}/{{.AppName }}/models"
	"github.com/labstack/echo/v4"
	"github.com/joho/godotenv"
)

	var (
		TestApp  *echo.Echo
		GroupPath = "/api/v1/{{ .AppName | replaceString }}"
	)

	func SetupTestApp() {
		err := godotenv.Load(".test.env")
		if err != nil {
			panic("Error loading .env file")
		}

		models.InitDatabase(true)
		TestApp = echo.New()
		{{ .AppName | replaceString }}.SetupRoutes(TestApp)
	}